 

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap'); 

@font-face{ 
  font-family: emoFont; 
  src: url("../font/SpecifyPERSONAL-ExExpBold.ttf"); 
} 
@font-face{ 
  font-family: emoFont-exThin; 
  src: url("../font/SpecifyPERSONAL-ExpThin.ttf"); 
} 
@font-face{ 
  font-family: emoFont-thin; 
  src: url("../font/SpecifyPERSONAL-ExExpMedium.ttf"); 
} 
  .tp-wrapper{
    position: absolute;
    top: 100px;
    height: 1300px;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "sidebar" "content" "bottom"; 
    width: 100%;
  }
  .sticky-1{
    position: absolute;
    background: #f83c2300;
    width: 600px;
    height: 100px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    top: 1200px;
  }



  #sticky-p{

    height: 200px;
    padding: 50px;
    padding-top: 20px;
    padding-left: 350px;
    border-radius: 20px 20px 20px 0px;
    width: 800px;
    font-family: emoFont;
    margin-top: -500px;
    background-color: rgba(243, 220, 190, 0.925);
    font-size: 32px;
    position: relative;
    top: -400px;
    margin-left: -1000px;
  }
  #sticky-span1{
    font-family: emoFont-thin;
    font-size: 20px;
  }
  #sticky-span2{
    font-size: 30px;
    float: left;
  }
  #welcome-text{ 
    position: relative;
    grid-area: sidebar;
    margin-left: 25vw;
    font-family: 'emoFont',sans-serif; 
    font-size: 30px; 
    text-align: left;
  } 
  .lrg-active-wraper{ 
    position: relative;
    grid-area: content;
    width: 400px; 
    height: 800px; 
  } 
  #active-wraper{ 
    border-top: solid 2px rgba(243, 220, 190, 0.925); 
    border-left: solid 2px rgba(243, 220, 190, 0.925); 
    position: relative; 
    width: 400px; 
    height: 100px; 
  } 
  #about-text{ 
    left: 80px; 
    top: -50px; 
    color: rgb(194, 193, 193); 
    position: relative; 
    font-family: 'emoFont', sans-serif; 
    font-size: 3rem; 
  } 

  #about-p{ 
    position: absolute; 
    font-family: 'emoFont-thin',sans-serif; 
    padding: 20px; 
    letter-spacing: .5px; 
    color: rgb(194, 193, 193); 
    border-bottom: solid 2px rgba(243, 220, 190, 0.925); 
    border-right: solid 2px rgba(243, 220, 190, 0.925); 
    left: 50px; 
    width: 400px; 
    height: 400px; 
  } 

  

  .circle p{
    visibility: hidden;
    width: 250px;
    left: 25px;
    position: relative;
    top: 50px;
  }
  .circle{
   visibility: hidden;
    position: relative;
    width:300px;
    height:300px;
    border-radius:150px;
    left: 249px;
    top: 149px;
    font-size:20px;
    color: rgb(155, 155, 155);
    line-height:100px;
    text-align:center;
    background:rgba(255, 255, 255, 0);
    grid-area: image2;
    border: 1px solid rgb(155, 155, 155);
    border-top-color: rgba(255, 255, 255, 0);
    transform: rotate(-45deg);
  }
  .box-1{
    visibility: hidden;
    grid-area: image2;
    position: relative;
    width: 400px;
    height: 150px;
    border-right: 1px solid rgb(155, 155, 155);
  }
  .box-2{
    visibility: hidden;
    grid-area: image2;
    position: relative;
    height: auto;
    width: 250px;
    border-bottom: 1px solid rgb(155, 155, 155);
  }

  .onan-wrapper, .austin-wrapper, .izzy-wrapper{ 
    position: absolute; 
    display: grid;
    grid-gap: 100px;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 20% 30% 20%;
    grid-template-areas: "empty header empty2" "empty image empty2" "empty text empty2" "empty image2 empty2" "empty text2 empty2";
    font-family: 'emoFont-thin',sans-serif; 
    top: 1700px;  
    height: 1200px; 
    width: 100%; 
  } 
  .austin-wrapper{
    top: 3000px; 
  }
  .austin-inner-span, .onan-inner-span,  .izzy-inner-span{
    position: relative;
    width: 500px;
    height: 100px;
  }
  .izzy-wrapper{
    top: 4400px;
  }

  #member-header1, #member-header2, #member-header3{ 
    font-family: 'emoFont',sans-serif; 
    font-size: 100px;
    grid-area: header;
    position: relative;
    margin-top:-200px; 
    width: 100px; 
    text-align: center; 
  } 

  #clr-onan, #clr-austin, #clr-izzy{
    color: rgba(243, 220, 190, 0.925);
  }
  #delorianLink{ 
    grid-area: image2;
    top: 300px;
    width: 400px;
    border-right-style: len;
  } 
  #delorianImg{ 
    position: relative;
    z-index: 1;
    top: -100px;
    left: -100px;
    width: 500px;
    height: 500px;

  } 
  #tvLink{ 
    grid-area: image;
    margin: 46px;

  }
  #tvImg{ 
    position: relative;
    top: -120px;
    left: -150px;
    width: 500px; 
    height: 500px; 
    z-index: 0px;
  } 

  .img-text1,  .img-text3, .img-text5{
    width: 300px;
    grid-area: text;
    font-size: 30px;
  }
  .img-text2,  .img-text4, .img-text6{
    width: 400px;
    grid-area: text2;
    font-size: 30px;

  }
  .tri-sphere{
    position: relative;
    animation: animateText 10s linear infinite;
    transform-style: preserve-3d;
    transform-origin: center;
    width: 300px;
    grid-area: image;
    background-color: rgb(0, 0, 0, 0.24);

  }
  #tri-1{
    text-align: center;
    position: absolute;
    height: 300px;
    width: 100%;
    transform: rotateZ(45deg);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(-45deg);
    background-color: rgba(255, 4, 0, 0.397);

  }
  #tri-2 #x{
    position: absolute;
    margin-top: 45%;
  }
  #tri-2{
    align-items: center; /* align vertical */
    position: absolute;
    height: 300px;
    width: 110%;
    background-color: rgba(97, 101, 156, 0.24);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(45deg);
  }
  #tri-1-1{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -4%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:-230px;
    transform: rotateX(46deg) translateY(105px);
  }
  #tri-1-2{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -4%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:-251px;
    transform: rotateX(-46deg)  translateY(133px);
  }
  #tri-1-3{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -4%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:230px;
    transform: rotateX(-46deg) rotate(180deg)   translateY(105px);
  }
  #tri-1-4{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -4%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:211px;
    transform: rotateX(46deg) rotate(180deg) translateZ(-25px) translateY(100px);
  }
  #tri-2-1{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -8%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 109px solid transparent;
    border-right: 109px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:230px;
    transform: rotateX(45deg) rotate(180deg) translateY(100px);
  }
  #tri-2-3{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -8%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 109px solid transparent;
    border-right: 109px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:-230px;
    transform: rotateX(45deg) translateY(100px);
  }
  #tri-2-4{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -8%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 109px solid transparent;
    border-right: 109px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:230px;
    transform: rotateX(-45deg)  rotate(180deg) translateY(100px);
  }
  #tri-2-2{
    position: absolute;
    height: 300px;
    width: 115%;
    left: -8%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-left: 109px solid transparent;
    border-right: 109px solid transparent;
    border-bottom: 150px solid rgba(0, 0, 0, 0.295);
    top:-230px;
    transform: rotateX(-45deg) translateY(100px);
  }

  .rotate-image, .rotate-image2{
    grid-area: image;
    animation: animateText 10s linear infinite;
    position: absolute;
    left: -10px;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateX(45deg);
    width:400px;
  }
  .rt-img-wrap{
    left: -50px;
    position: relative;
    width:400px;
    transform-origin: center;
    transform-style: preserve-3d;
  }
  .rt-img-wrap{
    grid-area: image2;
  }
  .rotate-image2 span{
    background-color: black;
  }
  .rotate-image span, .rotate-image2 span{
    position: absolute; 
    text-shadow: 10px  0px 10px black;
    background-attachment: fixed;
    width: 10px;
    top:0;
    left:0;
    color: rgb(155, 155, 155);
    font-size: 20px;
    margin-top:200px;
    transform-style: preserve-3d;
    transform-origin: center;
    margin-left: 160px;
    padding: 5px 13px;
    transform: rotateY(calc(var(--i) * calc(360deg/30)))
    translateZ(230px) rotatex(45deg);
  }
  @keyframes animateText{
    0%{
      transform: perspective(1000px)  rotateY(360deg)    ;
    }
    100%{
      transform: perspective(1000px)  rotateY(0deg)    ;
    }
  }

  .scroll-left {
    position: relative;
    margin-top: -130px;
    font-family: emoFont-thin;
    height: 150px; 
    padding: 50px;
      color: white;
      background-color: black;
      font-size: 40px;
    overflow: hidden;
    grid-area: bottom;
    left: 0px;
    width: 120%;
    top: 200px;
    position: relative;
    }
    .scroll-left #scl-span-1{
    position: absolute;
    width: 150%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
    0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
    }

  .ft-wrapper{ 
    display: grid;
    top: 6000px;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.151);
    grid-template-columns: auto; 
    grid-template-rows: auto auto auto; 
    grid-template-areas: "center" "left"  "right" ;
    position: relative; 
    padding: 50px;
    width: 100%; 
    height: auto; 
    background: rgb(243, 220, 190)
  } 
  #ft-img{
    position: relative;
    float: left;
    margin-top: 50px;
    width: 150px;
    height: 40px;
  }
  #ft-cover-btn{
    top: 0px;
  }
  #ft-cover{
    top: 300px;
  }
  #ft-contact{
    top: -200px;
  }
  #ft-contact-wd{
    text-decoration: none;
    color: black;
  }
  #ft-contact-wd:hover{
    background-color: #000000;
    color: rgba(243, 220, 190, 0.925); 
  }
  .ft-wrapper .ft-center h1{
    margin-left: 0px;
  }
  .cover-main-wrapper{
    padding: 200px;
  }
  #h1-cover,   #h2-cover,  #h3-cover{
    font-family: emoFont;
    font-size: 100px;
    color: rgba(243, 220, 190, 0.925); 
  }
  #p1-cover, #p2-cover, .cover-main-wrapper ul{
    line-height: 40px;
    padding-left: 200px;
    font-family: emoFont-thin;
    margin-top: 50px;
    color: rgb(194, 193, 193);
  }
  .ft-wrapper h1{
    font-family: emofont;
    text-align: center;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 20px solid black;
  }
  
  #ft-about-p{
    padding-top: 40px;
    padding-right: 200px;
  }
  .ft-center{
    font-family: emoFont-thin;
    padding-left: 50px;
    color: black;
    width: auto;
    height: auto;
    position: relative;
    grid-area: center;
    border-bottom: 1px solid black;
  }
  .ft-right{
    font-family: emoFont-thin;
    text-align: center;
    width: auto;
    height: auto;
    position: relative;
    border-bottom: 1px solid black;
    grid-area: right;
  }
  .ft-left{
    color: black;
    font-family: emoFont-thin;
    width: auto;
    height: auto;
    position: relative;
    grid-area: left;
    border-bottom: 1px solid black;
  }
  #ft-right-header{
    color: black
  }
  #ft-left-content, #ft-right-content, #ft-center-content{
    padding: 50px;
  }
  #ft-left-content span{
    
    margin-left: 15%;
    float: left;
    
  }
  
  .ft-wrapper button{
    margin-top: 50px;
    position: relative;
    width: 200px;
    height: 30px;
    background-color: rgb(243, 220, 190);
    border: none;
    border-bottom: 1px solid #050505;
  }
  #view-bck{
    font-family: emofont;
    float: left;
  }
  .form-control{
    background-color: #050505;
  }
  form .form-group #nameLast{
    margin: 20px;
  }

  form .form-group #nameFirst, #nameLast, #email, #message{
    border-radius: 0px;
    background-color: rgb(243, 220, 190);
    box-shadow: 0px 9px 26px -17px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0px 9px 26px -17px rgba(0,0,0,1) inset;
    -moz-box-shadow: 0px 9px 26px -17px rgba(0,0,0,1) inset;
    border: none;
  }
  form .form-group #nameFirst{
    margin: 20px;
  }

 
 

html{ 
  -webkit-text-size-adjust: 100%; 
} 

  body { 
    -webkit-font-smoothing: antialiased; 
    font-family: 'Orbitron', sans-serif; 
    background-color: #000000; 
    background: radial-gradient(ellipse at center, #050505 0%, #0f0f0f8a 10000000%); 
    color: rgb(194, 193, 193); 
    overflow-x: hidden; 
    zoom: .7; 
  } 
  html, 
  body { 
    height: 100%; 
  } 
  .contact-main-wrapper{
    align-content: center;
    padding-top: 30vh;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    color: rgb(194, 193, 193); 
    flex-direction: column; 
    justify-content: center; 
  }
  .ct-mg{
    font-family: emofont;
    top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgba(243, 220, 190, 0.925); 
    border-top: none; 
    border-bottom: none; 
    margin: 0 auto;
    border-radius: 0px;
    width:1000px;  
    height:400px;  
  }
  #ct-Link{
    position: relative;
    top: -18px;
    left: -2px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 49%;
    height: 100%;
  }
  #ct{
    color:  rgba(243, 220, 190, 0.925);
    padding-top: 18vh;
    text-align: center;
    border-right: 3px solid rgba(243, 220, 190, 0.925); 
    float: left;
    position: relative;
    background-color: #00000000;
    width: 100%;
    height: 100%;
  }
  .ct-mg #ct-Link:hover #ct{ 
    background-color: rgba(243, 220, 190, 0.925);
   color: black; 
  }
  
  .contact-frm{
    margin: 0 auto;
    position: relative;
    top: -350px;
    background-color: rgb(0, 0, 0);
    width: 950px;
    height: 400px;
  }
  .contact{
    border-left: 3px solid rgb(243, 220, 190);
    border-right: 3px solid rgb(243, 220, 190);
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: black;
    width: auto;
    height: auto;
  }
  #contact-header{
    font-family: emofont;
    font-size: 100px;
  }
  #ct-header-color{
    color: rgba(243, 220, 190, 0.925); 
  }
  #mg-Link{
    position: relative;
    background-color: black;
    border: none;
    left: 10px;
    width: 49%;
    height: 100%;
  }
  #mg{
    color:  rgba(243, 220, 190, 0.925);
    padding-top: 18vh;
    text-align: center;
    float: right;
    position: relative;
    background-color: #ff000000;
    width: 105%;
    border-left: 3px solid rgba(243, 220, 190, 0.925); 
    height: 100%;
  }
  .ct-mg-chng-one #mg-Link:hover #mg, .ct-mg-chng-one #ct-Link:hover #ct, .onan-chng-one .onan-inner-span:hover{ 
    background-color: rgba(243, 220, 190, 0.925);
   color: black; 
  }
  .ct-mg-chng-two #mg-Link:hover #mg, .ct-mg-chng-two #ct-Link:hover #ct, .onan-chng-two .onan-inner-span:hover .onan-inner-span{ 
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  .main-wrapper { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(194, 193, 193);
    margin-left: 0px; 
    margin-left: 0px; 
    position: relative; 
    padding: 0; 
    min-height: 5000px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  } 
  body::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: #4141418e;
  }
  
  body::-webkit-scrollbar
  {
    width: 12px;
    background-color: rgb(243, 220, 190);
  }
  
  body::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: rgb(243, 220, 190);
  }

  .loader { 
    position: relative; 
    font-size: 200px; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    z-index: 1; 
  } 
  .pg-loader{ 
    position: fixed; 
    padding: 30vw;
    padding-top: 10vw;
    color:white; 
    top:0px; 
    left: 0px; 
    height: 100%; 
    width:100%; 
    background-color: rgb(0, 0, 0); 
    z-index: 50; 
  } 
  .pg-loader span{
    font-size: 5.5vw;
    font-family: emofont;
    color: rgb(243, 220, 190);
  }
  .pg-loader2{
    transition: all 5s;
    text-align: center;
    transform: scale(1);
    position: fixed; 
    color:white; 
    top:0px; 
    left: 0px; 
    height: 100%; 
    width:100%; 
    background-color: rgb(0, 0, 0); 
    z-index: 49; 
  }
  .pg-loader3{
    transition: all 5s;
    text-align: center;
    transform: scale(1);
    position: fixed; 
    color:white; 
    top:0px; 
    left: 0px; 
    height: 100%; 
    width:100%; 
    background-color: rgb(0, 0, 0); 
    z-index: 20; 
  }
  .pg-loader2 span{
    position: relative;
    top: 45%;
    font-size: 2vw;
    font-family: emofont-thin;
    color: rgb(243, 220, 190);
  }
  .pg-loader3 span{
    position: relative;
    top: 45%;
    font-size: 2vw;
    font-family: emofont-thin;
    color: rgb(243, 220, 190);
  }
  #pg-loader-2-font{
    top: 0px;
    font-family: monospace;
    top: 55%;
    font-size: 2vw;
    color: rgb(243, 220, 190);
  }
  .noise-wrapper { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 5000px; 
    opacity: 0; 
    overflow: hidden; 
    z-index: 0; 
  } 
  .noise-wrapper:after { 
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.616) 100%); 
  } 

  .noise { 
    position: absolute; 
    top: -500px; 
    right: -500px; 
    bottom: -500px; 
    left: -500px; 
    background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0; 
    background-size: 320px 320px; 
    opacity: 0.7; 
    -webkit-animation: noise 1s steps(8, end) infinite both; 

            animation: noise 1s steps(8, end) infinite both; 
  } 
  @keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}
@keyframes rainbow-bc{
  100%,0%{
    border-color: rgb(255,0,0);;
  }
  8%{
    border-color: rgb(255,127,0);
  }
  16%{
    border-color: rgb(255,255,0);
  }
  25%{
    border-color: rgb(127,255,0);
  }
  33%{
    border-color: rgb(0,255,0);
  }
  41%{
    border-color: rgb(0,255,127);
  }
  50%{
    border-color: rgb(0,255,255);
  }
  58%{
    border-color: rgb(0,127,255);
  }
  66%{
    border-color: rgb(0,0,255);
  }
  75%{
    border-color: rgb(127,0,255);
  }
  83%{
    border-color: rgb(255,0,255);
  }
  91%{
    border-color: rgb(255,0,127);
  }
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
  @-webkit-keyframes noise { 
    0% { 
      transform: translateX(0px, 0px); 
    } 
    10% { 
      transform: translate(-100px, 100px); 
    }
    20% { 
      transform: translate(150px, -100px); 
    } 
    30% { 
      transform: translate(-100px, 100px); 
    } 
    40% { 
      transform: translate(100px, -150px); 
    } 
    50% { 
      transform: translate(-100px, 200px); 
    } 
    60% { 
      transform: translate(-200px, -100px); 
    } 
    70% { 
      transform: translateY(50px, 100px); 
    } 
    80% { 
      transform: translate(100px, -150px); 
    } 
    90% { 
      transform: translate(0px, 200px); 
    } 
    100% { 
      transform: translate(-100px, 100px); 
    } 
  } 
  @keyframes noise { 
    0% { 
      transform: translateX(0px, 0px); 
    } 
    10% { 
      transform: translate(-100px, 100px); 
    } 
    20% { 
      transform: translate(150px, -100px); 
    } 
    30% { 
      transform: translate(-100px, 100px); 
    } 
    40% { 
      transform: translate(100px, -150px); 
    } 
    50% { 
      transform: translate(-100px, 200px); 
    } 
    60% { 
      transform: translate(-200px, -100px); 
    } 
    70% { 
      transform: translateY(50px, 100px); 
    } 
    80% { 
      transform: translate(100px, -150px); 
    } 

    90% { 
      transform: translate(0px, 200px); 
    } 
    100% { 
      transform: translate(-100px, 100px); 
    } 
  } 


  #offset{
    left: -180px;
  }
  #rotate{ 
    transform: rotate(45deg); 
    position: absolute; 
    top: 900px; 
    align-self: center; 
  } 
  .arrow{ 
    position: relative; 
  } 
  .bounceA1 { 
    animation: bounce 2s infinite; 
  } 
  .bounceA2 { 
    animation: bounce 2s infinite; 
  } 

  @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% { 
      transform: translateY(0); 
    } 
    40% { 
      transform: translateY(-30px); 
    } 
    60% { 
      transform: translateY(-15px); 
    } 
  } 

  .navbar-custom{ 
    color: rgb(194, 193, 193); 
    font-family: 'emoFont',sans-serif; 
    margin-top: 60px; 
    position: absolute; 
    height: 50px; 
    width: 100%; 
    background-color: #05050500; 
  } 

  .navbar .navbar-brand{ 
    position: relative;
    color: rgba(243, 220, 190, 0.925); 
    top: 0px;
    width: 50px; 
    left: -270px;
  } 
  .brand-cont{
    position: relative;

    height: 35px;
    left: -20px;
    width: 100px;
  }
  #active{
    margin-left: 60px;
    color: rgba(243, 220, 190, 0.925);
  }
  #active-contact{
    position: absolute;
    margin-left: -300px;
    color: rgba(243, 220, 190, 0.925);
  }
  .brand-cont p{
    position: relative;
    top: -8px;
  }
  .navbar .nav-item{ 
    position: relative; 
    height: 35px;
    top: 0px;
    left: -250px;
    margin-left: 30px; 
  } 
  .navbar a{ 
    color: rgb(194, 193, 193); 
    text-decoration: none; 
  } 
  .austin-wrapper a, .onan-wrapper a, .izzy-wrapper a{
    color: rgb(194, 193, 193); 
  }
  .austin-wrapper a:hover, .onan-wrapper a:hover, .izzy-wrapper a:hover{
    text-decoration: none;
    color:white;
  }
  #nav-item-3{ 
    margin-right: 50px; 
  } 

  .nav-wrap{ 
    background-color: #05050500; 
    position: relative; 
    width: 100%; 
    height: 200px; 
    top: 0px; 
  } 

  .nav-item:hover{ 
    
    text-decoration: none; 
    transition: .5s; 
  } 

  .nav-item::after{ 
    content: ""; 
    background: rgba(243, 220, 190, 0.925); 
    mix-blend-mode:saturation; 
    width: calc(100% + 20px); 
    height: 0; 
    position: absolute; 
    bottom: -4px; 
    left: -10px; 
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95); 
  } 
  .nav-item:hover{ 
    color: black;
  } 
  .navbar-text{
    position: relative;
    left: 250px;
    color: rgba(243, 220, 190, 0.925); 
  }
  .nav-item:hover::after{ 
    height: calc(100% + 8px) 
  } 
  @media only screen and (max-width: 1200px) {
    #member-header2, #member-header1, #member-header3{
      margin-top: 0px;
      margin-left: -160px;
      font-size: 80px;
      width: 100px;
    }
    .austin-wrapper{
      margin-top: 500px;
    }
    .izzy-wrapper{
      margin-top: 900px;
    }

    
  }
  @media only screen and (max-width: 600px) {
    nav .navbar-brand{

      visibility: hidden;

    }
    nav{
      margin-left: 120px;
    }
  }

  @media only screen and (max-width: 1000px) {
    nav .navbar-text{
      visibility: hidden;
  
    }
    nav .nav-item:nth-child(3){
      position: absolute;
      top: 0px;
      left: 250px;

    }
    nav .nav-item:nth-child(2){
      position: absolute;
      left: 100px;
      top: 0px;

    }
    nav .nav-item:nth-child(4){
      position: absolute;
      left: 370px;
      top: 0px;

    }
    nav .navbar-brand{
      position: absolute;
      left: 550px;
      top: -40px;

    }
    nav .navbar-text{
      position: absolute;
      left: 850px;
      top: -40px;

    }
    .image { 
      top: -10vh;
    }

  }
  @media only screen and (max-width: 1800px) {
    .tp-wrapper .image{
      top:-300px;
    }
  }


  @media only screen and (max-width: 1100px) {
    .lrg-active-wraper{
      top: 0px;
      margin: 0 auto;
    }
    .tp-wrapper #welcome-text{
      margin: 0 auto;
      font-size: 50px;

      margin-top: 100px;
    }


  }
  @media only screen and (max-width: 1165px) {
    .navbar-text{
      visibility: hidden;
    }
  }
  @media only screen and (min-width: 1200px) {
    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
    }
    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      font-size: 100px;
      margin-left: 0px;
    }
    .onan-wrapper, .austin-wrapper, .izzy-wrapper{
      margin: 0 auto;
    }


  }
  @media only screen and (min-width: 1100px) {
    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
      left: -100px;
    }
    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      font-size: 90px;
      margin-top: 70px;
      margin-left: 0px;
    }
    .box1, .box2, .circle .circle p{
      visibility: visible;
    }
  }
  @media only screen and (min-width: 1200px) {
    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
      left: -100px;
    }
    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      margin-top: 60px;
      font-size: 100px;
      margin-left: 0px;
    }
    .onan-wrapper, .austin-wrapper, .izzy-wrapper{
      grid-gap: 50px;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: repeat(4, 25%);
      grid-template-areas: "empty4 header empty5 empty6" "empty1 image text empty2" "empty1 text2 image2 empty2" "empty3 empty3 empty3 empty3";
      margin: 0 auto;
    }
    #member-header2, #member-header1, #member-header3{
      margin-left: -200px;
    }
    .box1, .box2, .circle .circle p{
      visibility: visible;
    }
  }
  @media only screen and (min-width: 1400px) {
    .tp-wrapper{
      left: -50px;
    }

  }
  @media only screen and (min-width: 800px) {
    .chat-message{
      border-radius: 20px 20px 0px 20px;
      border-right: 10px solid rgba(243, 220, 190, 0.521);
      left: -100px;
    }
    
    .chat-message1{
      border-radius: 20px 20px 20px 0px;
      border-left: 10px solid rgba(243, 220, 190, 0.521);
      left: 490px;
    }
  }
  @media only screen and (min-width: 1000px) {
    nav .navbar-text{
      visibility: visible;
    }

    .chat-message{
      border-radius: 20px 20px 0px 20px;
      border-right: 10px solid rgba(243, 220, 190, 0.521);
      left: -100px;
    }
    
    .chat-message1{
      border-radius: 20px 20px 20px 0px;
      border-left: 10px solid rgba(243, 220, 190, 0.521);
      left: 390px;
    }
  }
  @media only screen and (min-width: 1300px) {
    .chat-message{
      border-radius: 20px 20px 0px 20px;
      border-right: 10px solid rgba(243, 220, 190, 0.521);
      left: -100px;
    }
    
    .chat-message1{
      border-radius: 20px 20px 20px 0px;
      border-left: 10px solid rgba(243, 220, 190, 0.521);
      left: 250px;
    }
  }
  @media only screen and (min-width: 1450px) {
    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom";
      left: 0px;
    }

    .chat-message{
      border-radius: 20px 20px 0px 20px;
      border-right: 10px solid rgba(243, 220, 190, 0.521);
      left: -100px;
    }
    
    .chat-message1{
      border-radius: 20px 20px 20px 0px;
      border-left: 10px solid rgba(243, 220, 190, 0.521);
      left: 150px;
    }

    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      font-size: 100px;
      margin-left: 0px;
    }
    .onan-wrapper, .austin-wrapper, .izzy-wrapper{
      grid-gap: 50px;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: repeat(4, 25%);
      grid-template-areas: "empty4 header empty5 empty6" "empty1 image text empty2" "empty1 text2 image2 empty2" "empty3 empty3 empty3 empty3";
      margin: 0 auto;
    }
    #member-header2, #member-header1, #member-header3{
      margin-left: 0px;
    }
  }
  @media only screen and (max-width: 900px) {
    .sticky-1{
      visibility: hidden;
    }
    
  }
  @media only screen and (max-width: 1450px) {
    .sticky-1{
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 1600px) {
    .ct-mg{
      top: 20px;
    }
  }
  @media only screen and (min-width: 900px) {
    .austin-wrapper, .izzy-wrapper, .onan-wrapper{
      left: 150px;
    }
  }




  @media only screen and (min-width: 1600px) {
    
    .chat-message{
      border-radius: 20px 20px 0px 20px;
      border-right: 10px solid rgba(243, 220, 190, 0.521);
      left: -100px;
    }
    
    .chat-message1{
      border-radius: 20px 20px 20px 0px;
      border-left: 10px solid rgba(243, 220, 190, 0.521);
      left: 50px;
    }
    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
      left: 0px;
    }
    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      font-size: 125px;
      margin-top: 10px;
      margin-left: 300px;
      margin-left: 0px;
    }
    .onan-wrapper, .austin-wrapper, .izzy-wrapper{
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: repeat(4, 25%);
      grid-template-areas: "empty4 header empty5 empty6" "empty1 image text empty2" "empty1 text2 image2 empty2" "empty3 empty3 empty3 empty3";
      margin: 0 auto;
    }
    #member-header2{
      margin-left: 0px;
    }
    .box1, .box2, .circle .circle p{
      visibility: visible;
    }
    .ft-wrapper{ 
      position: relative;
      display: grid;
      top: 6000px;
      margin-top: 200px;
      grid-template-columns: 25% auto 25%; 
      grid-template-rows: 25% 25% 25%  25%; 
      grid-template-areas: "left center right" "left center right" "left center right" "left center right";
    }
    #ft-main{
      margin-top: -1000px;
    }
    .ft-center{
      border-bottom: none;
    }
    .ft-left{
      border-bottom: none;
      border-right: 1px solid black;
    }
    .ft-right{
      border-bottom: none;
      border-left: 1px solid black;
    }
    .ft-wrapper h1{
      border-bottom: 1px solid black;
    }

  }

  @media only screen and (min-width: 1900px) {
      .chat-message{
        border-radius: 20px 20px 0px 20px;
        border-right: 10px solid rgba(243, 220, 190, 0.521);
        left: -100px;
      }
      .chat-message1{
        border-radius: 20px 20px 20px 0px;
        border-left: 10px solid rgba(243, 220, 190, 0.521);
        left: -160px;
      }

    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
      left: 0px;
    }
    .lrg-active-wraper{
      top: 100px;
      left: 50px;
      float: right;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      margin-top: -20px;
      font-size: 145px;
      margin-left: 0px;
    }
    .box1, .box2, .circle .circle p{
      visibility: visible;
    }
    .ft-wrapper{ 
      display: grid;
      top: 6000px;
      grid-template-columns: 25% auto 25%; 
      grid-template-rows: 25% 25% 25%  25%; 
      grid-template-areas: "left center right" "left center right" "left center right" "left center right";
    }
    .ft-center{
      border-bottom: none;
    }
    .ft-left{
      border-bottom: none;
      border-right: 1px solid black;
    }
    .ft-right{
      border-bottom: none;
      border-left: 1px solid black;
    }
    .ft-wrapper h1{
      border-bottom: 1px solid black;
    }
  }
  @media only screen and (min-width: 2000px) {

    .tp-wrapper{
      top: 0px;
      grid-template-rows: 20% 60% 30%;
      grid-template-columns: 10% 50% 28% 2%;
      grid-template-areas: "top top top top" "test2 sidebar content test" "bottom bottom bottom bottom" ;
      left: 0px;
    }
    .lrg-active-wraper{
      top: 100px;
      margin: 0 auto;
    }
    .tp-wrapper #welcome-text{
      width: auto;
      margin-top: -40px;
      font-size: 155px;
      margin-left: 0px;
    }
    .onan-wrapper, .austin-wrapper, .izzy-wrapper{
      margin: 0 auto;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: repeat(4, 25%);
      grid-template-areas: "empty4 header empty5 empty6" "empty1 image text empty2" "empty1 text2 image2 empty2" "empty3 empty3 empty3 empty3";
    }
    .box-1, .box-2, .circle, .circle p{
      visibility: visible;
    }

    .ft-wrapper{ 
      display: grid;
      top: 6000px;
      grid-template-columns: 25% auto 25%; 
      grid-template-rows: 25% 25% 25%  25%; 
      grid-template-areas: "left center right" "left center right" "left center right" "left center right";
    }
    .ft-center{
      border-bottom: none;
    }
    .ft-left{
      border-bottom: none;
      border-right: 1px solid black;
    }
    .ft-right{
      border-bottom: none;
      border-left: 1px solid black;
    }
    .ft-wrapper h1{
      border-bottom: 1px solid black;
    }
  }
.animation-text{
  animation: fadeAndScale .3s ease-in;
  transform-origin: center-bottom;
}          
.pg-loader2.animate{
  transform: scale(1);
}

#message-body{
  zoom: 1.5;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  height:  100vh;
  display: grid;
  align-content: end;
  align-items: end;
  justify-content: end;
  flex-grow: 1;
  padding: 15px 20px 24px 30px;
  overflow: auto;

  background-color: #000000;

}

.chat-message, .chat-message1 {
  position: relative;
  padding: 3px 20px 11px;
  background-color: rgb(243, 220, 190);
  box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.164);
-webkit-box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.151);
-moz-box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.349);
  max-width: 700px;
}
.chat-message{
  border-radius: 20px 20px 0px 20px;
  border-right: 10px solid rgba(243, 220, 190, 0.521);
  margin-left: 150px; 
}

.chat-message1{
  border-radius: 20px 20px 20px 0px;
  border-left: 10px solid rgba(243, 220, 190, 0.521);
  margin-left: -650px;
}

.chat-message:hover .chat-message-button,
.chat-message:focus .chat-message-button {
  visibility: visible;
}

.chat-message:focus-within .chat-message-button  {
  visibility: visible;
}

.chat-message-text, .chat-message-text1{
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  text-shadow: -1px 0px 10px rgba(0, 0, 0, .5);
  margin: 0;
}
.chat-message-text, .chat-message-text1{
  width: 100px;
}

.chat-message-name, .chat-message-name1{
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.chat-message-button{
  position: absolute;
  width: 18px;
  height: 18px;
  top: -5px;
  right: -5px;
  padding: 0;
  visibility: hidden;
  background-color: #ffffff;
  background-image: url("https://htmlacademy.ru/assets/courses/303/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  font: inherit;
  font-size: 0;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.chat-message + .chat-message, .chat-message1 + .chat-message1 {
  margin-top: 12px;
}



.chat-form {
  box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.164);
  -webkit-box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.151);
  -moz-box-shadow: 10px 10px 87px 0px rgba(201, 201, 201, 0.349);
  display: flex;
  font-family: sans-serif;
  align-items: center;

  padding: 32px  90px 20px;
  background-color:  rgb(243, 220, 190);
}

.chat-form-input {
  box-shadow: -2px 2px 22px -11px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: -2px 2px 22px -11px rgba(0,0,0,0.75) inset;
-moz-box-shadow: -2px 2px 22px -11px rgba(0,0,0,0.75) inset;
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 9px 20px 11px;
  border: 2px solid #00000036;
  background-color: #00000069;
}

.chat-form-input::placeholder {
  color: #cccccc;
}

.chat-form-input:hover {
  border-color: #000000;
  outline: none;
}

.chat-form-input:focus {
  border-color: #9edcff;
  outline: none;
}

.chat-form-input,
.chat-form-button {
  border-radius: 50px;
  font: inherit;
}

.chat-form-button {
  flex-shrink: 0;
  padding: 9px 20px;

  color: #ffffff;

  background-color: #b53939;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;

  user-select: none;
  outline: none;
  touch-action: manipulation;
  cursor: pointer;
}

.chat-form-button::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 20px;
  margin-right: 6px;
}

.chat-form-button:hover {
  background-color: rgb(207, 76, 76);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.15);
}

.chat-form-button:focus {
  border-color: 2px solid #9edcff;
}

.chat-form-button:active {
  background-color: #000000;
  box-shadow: none;
}
